.register-container {
  width: 400px;
  margin: auto;
  margin-top: 80px;
}

.register-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.register-container button {
  width: 100%;
  padding: 12px;
  background: #ff6f00;
  color: white;
}