.auth-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.auth-card {
  width: 350px;
  padding: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff6f00;
  color: white;
  border: none;
  cursor: pointer;
}

.register-link {
  margin-top: 10px;
}