.otp-container {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.otp-box {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.otp-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

.otp-inputs input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 18px;
}

button {
  padding: 10px 20px;
  background: #ff6f00;
  color: white;
  border: none;
}