.otp-container {
  width: 350px;
  margin: auto;
  margin-top: 120px;
  text-align: center;
}

.otp-container input {
  width: 200px;
  padding: 12px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 18px;
}

.otp-container button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: #ff6f00;
  color: white;
}