.otp-container {
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.otp-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.otp-inputs input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp-box button {
  width: 100%;
  padding: 12px;
  background: #ff6f3c;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.otp-box button:hover {
  background: #e65c2e;
}