.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    'sidebar header header header'
    'sidebar main main main';
  height: 100vh;
}

#sidebar
{
    grid-area:sidebar;
    height:100%;
    background-color: #263043;
    overflow-y: auto;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.sidebar-list-item
{
    color:white;
    padding:20px 20px 20px 20px;
    font-size:18px;
   
}
.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
  color:yellow;
}
.sidebar-title >span{
    display:none;
}
.sidebar-brand
{
    font-weight: 700;
    font-size: 20px;
    margin-top:15px;
}
.sidebar-list
{
    list-style-type: none;
    padding:0;
    
}
.sidebar-responsive
{
    display: inline !important;
    position:absolute;
    z-index: 12 !important;
}
.sidebar-list-item>a{
    text-decoration: none;
    color:#9e9ea4;
}
.sidebar-list-item:hover{
background-color: rgba(255,255,255,0.2);
}